<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Таксопарк</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Отчеты <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Машины</a></li>
                <li><a href="#">Водители</a></li>
                <li><a href="#">Аренды</a></li>
                <li class="divider"></li>
                <li><a href="#">Еще пункт</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text navbar-right">Текущий пользователь: <a href="#" class="navbar-link">Mark Otto</a></p>
        </div>
    </div>
</nav>

{{outlet}}
