<div class="editor cash-editor">
    <form class="form-horizontal">
        {{#property-row title="Расчетная сумма в кассе"}}
            {{input value=currentAmount readonly="true"}}
        {{/property-row}}
        {{#property-row title="Снять" errors=errors.amount}}
            {{input value=amount type="number" min="0" max=currentAmount}}
        {{/property-row}}
    </form>
    {{save-cancel}}
</div>
