language: scala
jdk: oraclejdk8
sudo: false

# These directories are cached to S3 at the end of the build
cache:
 directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt/boot/
  - ./sources/client/node_modules
  - ./sources/client/bower_components

branches:
 only:
  - master

before_install:
 - cd ./sources

install:
# Install client dependencies
 - cd ./client
 - npm install -g bower
 - npm install -g ember-cli
 - npm install
 - bower install
 
script:
# Run client tests
 - ember test
# Run server tests
 - cd ./../server
 - sbt -J-XX:ReservedCodeCacheSize=256M test 
# Tricks to avoid unnecessary cache updates
 - find $HOME/.sbt -name "*.lock" | xargs rm
 - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm