@(form: Form[Option[models.entities.User]])(implicit flash: Flash)
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <style>
    html { background-color: white;
        font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
        font-size: 13px;
        text-align: center;
    }
    div {
        padding: 100px;
        border: 5px solid green;
        text-align: center;
        background-color:black;
        color:white;
        display: inline-block;
    }
    .success{
    color: green;
    }
    .error{
    color: red;
    }
  </style>
</head>
<body>
@helper.form(controllers.auth.routes.LoginController.authenticate()) {
<div>
    <h1>Авторизация</h1>

    @form.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
    }

    @flash.get("success").map { message =>
        <p class="success">
            @message
        </p>
    }

    <p>
        <input type="text" name="login" placeholder="Логин" id="login" value="@form("login").value">
    </p>
    <p>
        <input type="password" name="password" id="password" placeholder="Пароль">
    </p>
    <p>
        <button type="submit" id="loginbutton">Вход</button>
    </p>
</div>
}
</body>
</html>