<div class="editor user-editor">
    <form class="form-horizontal">
      {{#property-row title="Наименование" errors=errors.name}}
        {{input value=name readonly="true"}}
      {{/property-row}}
      {{property-row title="Тариф" value=rate}}
      {{property-row title="Примечание" value=comment}}
    </form>
  {{save-cancel}}
</div>
