<div class='datepicker-input-group input-group'>
    {{input class='datepicker-input form-control' value=pickerValue}}
    <span class='input-group-addon calendar-button'><span class='fa fa-calendar'></span></span>
</div>