<div class="command-panel clearfix" data-spy="affix">
    <div class="buttons btn-group pull-right" role="group">
        <button type="button" class="btn btn-primary" {{action "save"}} {{bind-attr disabled=isSaveDisabled}}>
            <i class="fa fa-floppy-o"></i> Сохранить
        </button>
        <button type="button" class="btn btn-default" {{action "cancel"}}>
            <i class="fa fa-times"></i> Отмена
        </button>
    </div>
</div>
