*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/plugins/project/
project/project
project/target

# Scala-IDE specific
.scala_dependencies
.worksheet
.settings/
.classpath
.project

# Idea specific
**/*.sc
.idea

# Play! specific
public
conf/*.override.conf
/bin/
