@import "common";
@import "loading";
@import "list";
@import "rent-history";
@import "editor";
@import "login";

@main-content-side-margin: 50px;

html, body, .application {
  height: 100%;
  width: 100%;
}

body > .ember-view {
  height: 100%;
}

.application {

  .app-content {
    margin-left: @main-content-side-margin;
    margin-right: @main-content-side-margin;
    min-width: 869px;
  }
}
