.datepicker-component {
  position: relative;
}
.datepicker-component input.form-control {
  cursor: pointer;
  background-color: #fff;
}
.datepicker-component .bootstrap-datetimepicker-widget {
  width: 280px;
  padding: 6px 15px 10px 15px;
}
.datepicker-component .bootstrap-datetimepicker-widget.dropdown-menu.top {
  bottom: 35px !important;
  left: 0 !important;
}
.datepicker-component .bootstrap-datetimepicker-widget.dropdown-menu.bottom {
  top: 35px !important;
  left: 0 !important;
}
.datepicker-component .bootstrap-datetimepicker-widget .datepicker,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker {
  display: block;
  width: 100%;
}
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days tbody td,
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days thead th.dow {
  border: 2px solid #cfcfcf;
}
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days thead:first-child th {
  padding-top: 7px;
  padding-bottom: 7px;
}
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days thead:first-child th.prev,
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days thead:first-child th.next {
  color: #067dcc;
}
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days thead th.dow {
  background-color: #dfdfdf;
}
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days tbody td.day {
  height: 15px;
}
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days tbody td.day.old,
.datepicker-component .bootstrap-datetimepicker-widget .datepicker .datepicker-days tbody td.day.new {
  background-color: #f3f3f3;
}
.datepicker-component .bootstrap-datetimepicker-widget .timepicker {
  margin-top: 12px;
  padding-top: 6px;
  border-top: 4px solid #f0f0f0;
}
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker {
  font-size: 11px;
}
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td span,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td a {
  line-height: 20px;
  height: auto;
}
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td.btn,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td span.btn,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td a.btn {
  color: #fff;
  border-color: #9b9b9b;
  background-color: #a6a6a6;
  padding: 1px;
}
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td.btn span,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td span.btn span,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td a.btn span {
  background-color: transparent;
}
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td.btn:hover,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td span.btn:hover,
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td a.btn:hover {
  background-color: #b3b3b3;
}
.datepicker-component .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td button.btn.btn-primary {
  padding: 3px 10px;
  text-align: center;
  color: #fff;
  height: 35px;
}
