@import "rent-history";

@balance-positive-color: darkgreen;
@balance-negative-color: darkred;

.editor.rent-editor {
  &.info {
    .panel.panel-default.total {
      .panel-title {
        a {
          font-weight: bold;

          &.negative {
            color: @balance-negative-color;
          }

          &.positive {
            color: @balance-positive-color;
          }
        }
      }
    }

    .command-panel {
      margin-bottom: 15px;
    }
  }
}
