@status-icon-height: 35px;
@status-icon-size: 20px;
@status-item-border: gray 1px dashed;

@operation-icon-height: 28px;
@operation-icon-size: 15px;

.history-container {
  padding-top: 10px;

  .history-item {
    margin-bottom: 10px;

    &.status {
      border-top: @status-item-border;
      border-bottom: @status-item-border;
      font-weight: bold;
      padding-top: 3px;
      padding-bottom: 3px;
      & > div {
        line-height: @status-icon-height;
      }
    }

    &.operation {
      &.positive > .operation-icon > i {
        background-color: lightgreen;
      }
      &.negative > .operation-icon > i {
        background-color: lightcoral;
      }

      & > div {
        line-height: @operation-icon-height;
      }
    }

    .status-icon > i {
      font-size: @status-icon-size;
      background-color: #2e6da4;
      color: white;
      height: @status-icon-height;
      width: @status-icon-height;
      line-height: @status-icon-height;
      text-align: center;
      border-radius: @status-icon-height;
    }

    .operation-icon > i {
      margin-left: 3px;
      font-size: @operation-icon-size;
      height: @operation-icon-height;
      width: @operation-icon-height;
      line-height: @operation-icon-height;
      text-align: center;
      border-radius: @operation-icon-height;
    }
  }
}
