<div class="editor user-editor">
    <form class="form-horizontal">
      {{property-row title="Наименование" value=name}}
      {{property-row title="Тариф" value=rate}}
      {{property-row title="Примечание" value=comment}}
    </form>
  {{save-cancel}}
</div>