<div class="editor user-editor">
    <form class="form-horizontal">
      {{property-row title="Наименование" value=name errors=errors.name}}
      {{property-row title="Тариф" value=rate errors=errors.rate}}
      {{property-row title="Примечание" value=comment errors=errors.comment}}
    </form>
  {{save-cancel}}
</div>